.filterContainer {
    position: relative;
    display: flex;
    gap: 2rem;
    margin-bottom: 5px;
}

.filterButton {
    position: relative;
    padding: 0.5rem 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    color: #6b7280;
    transition: color 0.3s ease;
    
    &:hover {
        color: #aeb5c2;
    }
    
    &.active {
        color: #000;

    }
}

.indicator {
    position: absolute;
    bottom: 5px;
    height: 1px;
    background-color: #000;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}